@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
/* html, body {
  background: black;
  color: white;
  height: 100vh;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
ul,ol{
  list-style: none;
}
li{
  text-decoration: none;
}
img{
  vertical-align: middle;
}
#time{
  background: #000215;
}
.container {
  width: 90%;
  height: 100vh;
}
.container h1{
  font-size: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 75%;
  height: 250px;
  border: 5px solid gold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Bruno Ace', cursive;
  font-weight: 900;
  color: gold;
  
}
.container h2{
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  text-shadow: 0 0 10px gold;
  margin-top: 50px;
}
.container h2 span{
  color: transparent;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
}
.container h3{
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
}
.container h4{
  color: #fff;
  font-family: 'Bebas Neue', cursive;
  margin-top: 30px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  word-spacing: 10px;
  font-size: 36px;
  text-shadow: 0 0 10px gold;
}


.jst-minutes {
  float: left;
  text-align: center;
}
.jst-seconds {
  float: left;
  text-align: center;
}
.jst-clearDiv {
  clear: both;
}
